/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
 .container {
  background-color: rgb(57, 92, 140);
  margin: 100px;
  height: 450px;
  width: 300px;
  margin-left: 550px;
  border: solid rgb(0, 0, 0);
  border-width: 3px;
}
.display{
background-color: rgb(214, 214, 214);
height: 100px;
width: 270px;
margin: 10px;
border: solid black;
border-width: 5px;
text-align:right;
font-size: 70px;
color: black;

}

.AC{
 background-color: rgb(255, 0, 0);
}

.numbers{
 display: grid;
grid-template-columns: repeat(4, 1fr);
grid-gap: 30px;
padding: 10px;

}

button {
 border: solid black;
 font-weight: initial;
 font-size: 2em;
 font-family: monospace;
 color: black;
 background-color: orange;
 border-radius: 5px;

}

button:hover{
 background-color: rgb(255, 190, 77);
}

.operator{
 background-color: rgb(255, 255, 0);
}

.equal{
 background-color: rgb(7, 201, 255);
}